extends layout

block content
    form(id='form', method='post', action='/edit/' + user.name)
      label(for='name') Name:
      input(type='text', name='name' value=user.name)
      br
      label(for='password') Password:
      input(type="text", name='password')
      br
      label(for='email') E-Mail:
      input(type="text", name='email' value=user.email)
      br
      label(for='age') Age:
      input(type="text", name='age' value=user.age)
      br
      label(for='questionOne') Question 1: How many licks does it take to get to the center of a toosie pop?
      select(name='questionOne')
        option(select = user.questionOne) #{user.questionOne}

        option(value='1') 1
        option(value='11') 11
        option(value="364") 364
        option(value="Other") Other
      br
      label(for='questionTwo') Question 2: Are Video Games good?
      select(name='questionTwo')
        option(select = user.questionTwo) #{user.questionTwo}

        option(value='Yes') Yes
        option(value='No') No
        option(value="Maybe") Maybe
        option(value="Other") Other
      br
      label(for='questionThree') Question 3: Are you ready to have an account to this website?
      select(name='questionThree')
        option(select = user.questionThree) #{user.questionThree}

        option(value='Yes') Yes
        option(value='No') No
        option(value="Maybe") Maybe
        option(value="Other") Other
      br
      input(type='submit', value='Update User')