extends layout

block content
  img(src=avatarUrl)
  table(class='gridtable')
    tr 
      th Username
      th
      th
      th Email
      th
      th
      th Age
      th
      th
      th Toosie Pops Lick
      th
      th
      th Video Games Opinion
      th
      th
      th Ready For Account
      th 
      tr
        td #{user.name}
        td
        td
        td #{user.email}
        td
        td
        td #{user.age}
        td
        td
        td #{user.questionOne}
        td
        td
        td #{user.questionTwo}
        td
        td
        td #{user.questionThree}
        td
          a(href='/edit/' + user.name) Edit User
        td
        br
        a(href='/avatarEdit/' + user.name) Customize Avatar
  h3= cookieData
  p
  #menu
    a(href='/logout') Logout

  div(id='canvasID')
    canvas(id='canvas1')
    canvas(id='canvas2')
    canvas(id='canvas3')

  script(src="./js/canvas.js")