extends layout

block content
    p
    div=person.name
    div=person.password
    div=person.e-mail
    div=person.age
    div=person.questionOne
    div=person.questionTwo
    div=person.questionThree